{{ with or .Params.credits .Params.cast .Params.crew }}

  <div class="pageCredits">

    <h2>Credits</h2>
    
    {{ with $.Params.credits }}
      <div class="credits">
        <ul>
          {{ range . }}
              <li><strong>{{ .role }}:</strong> {{.name}}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}  

    {{ with $.Params.cast }}
        <div class="credits">
          <h3>Cast</h3>
          <ul>
          {{ range . }}
            <li>{{.}}</li>
          {{ end }}
          </ul>
        </div>
    {{ end }}

    {{ with $.Params.crew }}
      <div class ="credits">
        <h3>Crew</h3>
        <ul>
          {{ range . }}
            <li><strong>{{ .role }}</strong>: {{.name}}</li>
          {{ end }}
        </ul>
      </div>
    {{ end }}

  </div>
{{ end }}