{{ $coverImage := dict }}
<div class="imageContainer">
{{ with .Resources.GetMatch "cover.*" }}
    {{ $coverImage = . }}
{{ else }}
    {{ with .Resources.ByType "image" }}
        {{ range . }}
            {{ $coverImage = .}}
            {{ break }}
        {{ end }}
    {{ end }}
    {{ with sort .Pages "Date" }}
        {{ range . }}
          {{ with .Resources.ByType "image" }}
            {{ range . }}
                {{ $coverImage = .}}
                {{ break }}
            {{ end }}
          {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $coverImage }}