<nav>
  <ul class="menu">
    <li>projects</li>
    <ul>
      <li><a href="/projects/shuttered/">shuttered</a></li>
      <li><a href="/projects/bordo/">bordo</a></li>
      <li><a href="/projects/pleasures/">pleasures</a></li>
    </ul>
    <li>art</li>
    <ul>
      <li>black and white</li>
      <li>color</li>
      <li>digital</li>
    </ul>
    <li>motion design</li>
    <ul>
      <li>reel</li>
      <li>HPE Cyber Resilience</li>
      <li>HPE Aletra Storage</li>
      <li>Greenlake Inteligence</li>
      <li>Traders Aid</li>
      <li>Flex Solutions</li>
    </ul>
    <li>blog</li>
    <ul>
      <li>the chain of human...</li>
      <li>my first post</li>
      <li>more posts...</li>
    </ul>
  </ul>
</nav>