{{ with resources.GetMatch "images/IG_w.png" }}
    <a href="https://www.instagram.com/dorpeer91" alt="Instagram">
        <img src="{{ .RelPermalink }}">
    </a>
{{ end }}
{{ with resources.GetMatch "images/YT_w.png" }}
    <a href="https://www.youtube.com/dorpeer91" alt="Youtube">
        <img src="{{ .RelPermalink }}">
    </a>
{{ end }}
{{ with resources.GetMatch "images/TikTok_w.png" }}
    <a href="https://www.tiktok.com/@dorpeer91" alt="TikTok">
        <img src="{{ .RelPermalink }}">
    </a>
{{ end }}
{{ partial "rssbutton.html" . }}