{{ define "main" }}
  
  {{ partial "pageheader.html" . }}
  
  <div class="pageContent">
    {{ .Content }}
  </div>
  
  {{ $curSection := .Page.CurrentSection }}
  {{ $thisPage := .Page }}
  {{ $images := slice }}
  {{ $imagesFromBlog := slice }}
  {{ $pagesFromBlog := slice }}

  {{ with .Site.GetPage "/blog" }}
    {{ range .Pages }}
      {{ $curBlogPage := . }}
      {{ range .Params.galleries }}
          {{ with eq . $thisPage.Title }}
            {{ $pagesFromBlog = $pagesFromBlog | append $curBlogPage}}
            {{ break }}
          {{ end }}
      {{ end }}
    {{ end }}
    {{ range $pagesFromBlog }}
      {{ range .Resources.ByType "image" }}
        {{$images = $images | append .}}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ with $curSection }}
      {{ $localImages := $thisPage.Resources.Match "images/*"  }}
      {{ $localImages = $localImages }}

      {{ $localImages = sort $localImages ( "Params.date" ) "desc"}}
      {{ $images = $images | append $localImages }}
      {{ $curImage := slice }}  
      <div class="gallery">
      {{ $mySize := 1}}
        {{ range $images }}
          {{ with .Resize "900x" }}
            {{ $mySize = 1 }}
            {{ with .Params.Size }}
              {{ $mySize = . }}
            {{ end}}
            {{ $mySize = mul $mySize 100 }}
            <div style="width:{{$mySize}}%;" >
              <a class="galleryItem" href="{{ .RelPermalink }}">            
                <img src ="{{ .RelPermalink }}"><br>
              </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
  {{ end }}
{{/* ART GALLERY END */}}
{{ end }}