{{ define "main" }}
  <h1>{{ .Name }}
  {{ $linkToRss := slice }}
  {{ with eq .Title "Blog" }}
    {{ with $.Site.Home }}
      {{ with .OutputFormats.Get "rss" }}
        {{ with .RelPermalink }}
          {{ $linkToRss = . }}
        {{ end }}
      {{ end }}
    {{ end }}
    {{ with resources.GetMatch "images/rss.png" }}
      <a href = "{{ $linkToRss }}">
        <img src="{{.RelPermalink}}" width="20">
      </a>
    {{ end }}
  {{ end }}
</h1>



  {{/* Description */}}
  {{ with .Description }}
    <p>{{ . }}</p>
  {{ end }}

  {{ .Content }}
  {{ if eq .Title "Blog" }}
    {{ partial "blogGallery.html" .Pages }}
  {{ else }}
    {{ partial "sectionGallery.html" .Pages }}
  {{ end }}
{{ end }}