:root {
    --background-color: #0d0d0d;
    --bg-accent: #1a1a1a;
    --text-color: #e2e0de;
    --muted-text-color: #afb5bf;
    --accent: #e2e0de;
    --heading-font: 'Roboto Condensed', sans-serif;
    --heading-color: #e2e0de;
    --body-font: 'Source Sans 3', sans-serif;
    --basic-font-size: 16px;
    --basic-line-height: 1.65rem;
    --body-width: 60rem;
}
/* Core */

* {
  box-sizing: border-box;
}


html {
    font-family: var(--body-font);
    font-size: var(--basic-font-size);
    line-height: var(--basic-line-height);
    color: var(--text-color);
    background-color: var(--background-color);
}

body {
    max-width: var(--body-width);
    margin-inline: auto;
    margin-block-start: 0px;
}

p {
    margin-block-start: 0px;
    margin-block-end: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    padding-inline: 25px;
    padding-bottom: 10px;
    padding-top: 25px;
    justify-content: left;
    border-bottom: solid 1px #6f7782;
    .websiteHeader {
        display: flex;
        align-items: center;
        display: flex;
        .hamburger {
            display: none;
        }
        h1 {
            font-size: 2rem;
            margin: 10px;
            a {
                color: var(--text-color);
                text-decoration: none;
            }
        }

    }
    nav {
        display: flex;
        margin: auto 0px auto auto;
        .menuItem {
            padding: 0.75rem;
            .subMenu {
                position: absolute;
                display: none;
                padding: 0.75rem;
                background-color: var(--bg-accent);
                .subMenuItem {
                    padding: 5px 5px 5px 5px;
                }
            }
        }
        .menuItem:hover .subMenu {
            display: block;
        }
    }
}

.homeExtra {
    margin-block-start: 5rem;
}
/* links */
a {
    color: var(--accent);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p a {
    color: var(--accent);
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

/* titles */

h1 {
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-family: var(--heading-font);
    font-weight: normal;
    font-size: 1.75rem;
    color: var(--heading-color);
    line-height: calc(var(--basic-line-height) * 1.6);
    a {
        text-decoration: underline;
    }
}

h1 + * {
    margin-bottom: 2rem;
}

time {
    color: var(--muted-text-color);
    font-size: 0.8rem;
}

.time{
    time {
        font-size: 0.8rem;
    }
    margin-block-end: 2rem;
}


h2 {
    margin-block-start: 3rem;
    margin-block-end: 1.2rem;
    font-family: var(--heading-font);
    font-size: 1.2em;
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--heading-color);
}

h3 {
    font-family: var(--heading-font);
    font-size: 1.2em;
    font-weight: normal;

}

/* Images */ 

img {
    max-width: 100%;
    border-radius: 4px;
    margin-block: 0 0;
}

.inPageCover {
    width: 100%;
    height: 150px;
    background-color: aquamarine;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* main panel */

main {
    padding-inline: 10ch;
    margin-block-start: 4rem;
}


footer {
    margin-block-start: 3rem;
    margin-inline: auto;
    padding-block: 1.5rem 3rem;
    max-width: 75ch;
    color: var(--muted-text-color);
    * {
        margin: 0;
        font-size: 0.9rem;  
        text-align: center;     
    }
}

/* section gallery */

.sectionGallery, .sectionGalleryLarge, .subGalleries {
    display: grid;
    gap: 10px;
    margin-top: 1rem;
}

.cover {
    padding: 0;
    margin: 0px;
    aspect-ratio: 1.5/1;
    img {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.item {
    display: block;
    background-color: var(--bg-accent);
    border-radius: 10px;
    .details {
        padding: 10px;
        h2 {
            margin-block: 0px 0px;
            font-weight: bold;
            text-align: left;
        }
        p {
            font-size: 0.9rem;
        }
    }
}
.sectionGallery {
    grid-template-columns: 1fr 1fr;
}

.sectionGalleryLarge {
    grid-template-columns: 1fr;
}

.subGalleries {
    grid-template-columns:  1fr 1fr 1fr 1fr;
    h2 {
        font-size: 1.1rem;
    }

}

/* blog entries gallery */

.blogEntry {
    display: flex;
    margin-block-end: 1.45rem;
    .entryCover {
        width: 15rem;
        aspect-ratio: 1.5 / 1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .entryInfo {
        width: 100%;
        margin-left: 8px;   
        h2 {
            margin-block-start: 0px;
        }
    }
}

/* awards display */

.awards, .credits {
    display: flex;
    flex-direction: row;
    h3 {
        padding-right: 1.5rem;
    }
    ul {
        list-style-type: none; /* Remove bullets */
        padding-left: 0rem;
        line-height: 2rem;
    }
}

/* art gallery */

.gallery {
    max-width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* homepage paragraph */

.homepageParagraph{
    margin-left: auto;
    margin-right: auto;
    max-width: 40rem;
    padding: 1rem;
    
}

/* Blog content design */

.blogContent {
    max-width: 48rem;
    margin: auto;


    p {
    font-size: 1.25rem;
    line-height: 1.95rem;
    }
}

/* 
MOBILE 
MOBILE 
MOBILE 
*/

@media (max-width: 800px) {
    main {
        padding-inline: 20px;
        margin-top: 1rem;
    }
    .homepageParagraph{
        padding: 0px;
    }
    .sectionGalleryLarge, .sectionGallery  {
        grid-template-columns: 1fr;
    }
    .subGalleries {
        grid-template-columns: 1fr 1fr;
    }
    header {
        padding-block: 1rem 1rem;
        display: block;
        top: 0px;
        background-color: var(--background-color);
        .websiteHeader .hamburger {
            display: block;
        }
        nav {
            display: none;
            margin: 0px;
            position: static;
            background-color: var(--background-color);
            opacity: 90%;
            grid-template-columns: 1fr;
            .menuItem {
                padding: 10px;
                margin: 0px;
                font-size: 1.5rem; 
                .subMenu {
                    display: block;
                    position: static;
                    font-size: 1.25rem;
                    background: none;
                    a {
                        color: var(--muted-text-color);
                    }
                    
                }
            }
        }
    }
    .blogEntry {
        display: flex;
        flex-direction: column;
        margin-block-end: 1.45rem;
        .entryCover {
            aspect-ratio: 3/1;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                
            }
        }
        .entryInfo {
            h2 {
                font-size: 1.25rem;
                line-height: 1.85rem;
            }
            width: 100%;
            margin-left: 0px;
            margin-block-start: 20px;
            * {
                margin-block-start: 0px;
                margin-block-end: 5px
            }
            time {
                font-size: 65%;
            }
            
        }
    }
    .gallery {
        max-width: 100%;
    }
    .blogContent {
        max-width: 48rem;
        margin: auto;
    }
}
